.footer {
    background-color: var(--background-end);
    padding: 2rem 0;
    font-size: small;
}

.footer h2, .footer a, .footer p, .footer__copyright {
    color: var(--gray-light);
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: none;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    background: var(--blue-gradient);
    border-radius: 20px;
    padding: 2rem;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__links-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin: 2rem 0;
}

.footer__links {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__links h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--gray-light);
}

.footer__links a {
    font-size: 0.7rem;
}

.footer__links p {
    width: 80%;
}

.footer__copyright {
    margin-top: 1rem;
}

.footer__icons {
    display: flex;
    gap: 0.5rem;
}

.footer__icons img {
    width: 80%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    top: -5px;
    left: 30%;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
    width: auto;
    padding: 5px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--primary-color) transparent transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

/* RTL tooltip styles */
.rtl .tooltip .tooltiptext {
    left: auto;
    right: 30%;
}

.rtl .tooltip .tooltiptext::after {
    right: auto;
    left: 100%;
    border-color: transparent transparent transparent var(--primary-color);
}

@media screen and (max-width: 768px) {
    .footer__logo h2 {
        font-size: 1.2rem;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__links-container {
        flex-direction: column;
        gap: 2rem;
    }

    .footer__links {
        width: 100%;
    }

    .footer__links p, .footer__links a, .footer__copyright {
        font-size: 0.8rem;
    }

    .footer__links p {
        width: 100%;
    }

    .footer__copyright {
        margin-top: 3rem;
    }

    .footer__icons img {
        width: 70%;
        height: 70%;
    }

    /* RTL mobile adjustments */
    .rtl .tooltip .tooltiptext {
        right: 10%;
    }
}