.footer {
    background-color: var(--background-end);
    padding: 2rem 0;
}

.footer h2, .footer a, .footer p, .footer__copyright {
    color: var(--gray-light);
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: none;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-radius: 20px;
    padding: 2rem;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__links p {
    width: 80%;
}

.footer__icons {
    display: flex;
    gap: 0.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    top: -5px;
    left: 30%;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
    width: auto;
    padding: 5px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--primary-color) transparent transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .footer__logo h2 {
        font-size: 1.2rem;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__links p, .footer__links a, .footer__copyright {
        font-size: 0.8rem;
    }

    .footer__links p {
        width: 100%;
    }

    .footer__copyright {
        margin-top: 3rem;
    }

    .footer__icons img {
        width: 80%;
        height: 80%;
    }
}