.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--background-start);
    color: var(--secondary-color);
}

.navbar-container {
    width: 87%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    overflow-x: hidden;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--primary-color);
}


.navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navbar__links a {
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.navbar__links a:hover {
    color: var(--secondary-color);
}

.navbar__toggle {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    display: none;
    cursor: pointer;
}

.navbar__toggle:not(.active) .navbar__toggle-img[alt="open menu"] {
    transform: rotate(360deg);
}

.navbar__toggle.active .navbar__toggle-img[alt="open menu"] {
    transform: rotate(0deg);
    opacity: 0;
}

.navbar__toggle-img {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@media(min-width: 900px) and (max-width: 1199px) {

    .navbar__logo {
        margin: 0px 1rem;
    }

    .navbar__logo span {
        font-size: 0.9rem;
    }

    .navbar__logo-img {
        width: 40px;
        height: 40px;
    }

    .navbar__toggle-img {
        width: 22px;
        height: 22px;
    }

    .navbar__links {
        font-size: 0.9rem;
        gap: 0.8rem;
    }
}

@media (min-width: 842px) and (max-width: 899px) {

    .navbar__logo {
        margin: 0px 1rem;
    }

    .navbar__logo span {
        font-size: 0.9rem;
    }

    .navbar__logo-img {
        width: 36px;
        height: 36px;
    }

    .navbar__toggle-img {
        width: 20px;
        height: 20px;
    }

    .navbar__links {
        font-size: 0.8rem;
        gap: 0.8rem;
    }
}

@media (min-width: 769px) and (max-width: 841px) {

    .navbar__logo {
        margin: 0px 1rem;
    }

    .navbar__logo span {
        font-size: 0.85rem;
    }

    .navbar__logo-img {
        width: 34px;
        height: 34px;
    }

    .navbar__toggle-img {
        width: 19px;
        height: 19px;
    }

    .navbar__links {
        font-size: 0.7rem;
        gap: 0.7rem;
    }

}

/* Mobile Menu Styles */
@media (max-width: 768px) {

    .navbar__logo span {
        font-size: 0.8rem;
    }

    .navbar__logo-img {
        width: 32px;
        height: 32px;
    }

    .navbar__toggle-img {
        width: 18px;
        height: 18px;
    }

    .navbar__links {
        position: fixed;
        top: 70px;
        right: 0;
        flex-direction: column;
        background-color: var(--background-start);
        width: 100%;
        height: calc(100vh - 70px);
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }

    .navbar__links.active {
        transform: translateX(0);
    }

    .navbar__toggle {
        display: block;
    }
}
