.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--background-start);
    color: var(--secondary-color);
}

.navbar-container {
    width: 87%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    overflow-x: hidden;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


.navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navbar__links a {
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.navbar__links a:hover {
    color: var(--primary-color);
}

.navbar__toggle {
    display: none;
    cursor: pointer;
}


/* Mobile Menu Styles */
@media (max-width: 768px) {

    .navbar__logo span {
        font-size: 0.8rem;
    }

    .navbar__logo-img {
        width: 32px;
        height: 32px;
    }

    .navbar__toggle-img {
        width: 18px;
        height: 18px;
    }

    .navbar__links {
        position: fixed;
        top: 70px;
        right: 0;
        flex-direction: column;
        background-color: var(--background-start);
        width: 100%;
        height: calc(100vh - 70px);
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }

    .navbar__links.active {
        transform: translateX(0);
    }

    .navbar__toggle {
        display: block;
    }
}
