.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom, var(--background-start), var(--background-end));
}

.not-found h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.not-found p {
    font-family: 1.2rem;
    color: var(--gray-dark);
    margin-bottom: 2rem;
}

.not-found__link {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.not-found__link:hover {
    color: white;
    background-color: var(--primary-color);
}