.social-media {
    background: linear-gradient(to bottom, var(--background-start), var(--background-end));
    position: relative;
    padding: 2rem 0;
    overflow: hidden;
}

.social-media__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.social-media__header h2 {
    font-size: 2rem;
}

.social-media__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.social-media__card {
    width: calc(50% - 1rem);
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--background-end);
    box-shadow: 0 4px 8px rgba(0, 48, 73, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.social-media__skeleton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

@media only screen and (max-width: 768px) {
    .social-media__card {
        width: 100%;
    }
}