.statistics {
    position: relative;
    padding: 2rem 0;
    background-color: var(--background-end);
    overflow: hidden;
}

.statistics__container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--primary-color);
}

.statistics__container p.source {
    margin-top: 100px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media screen and (max-width: 768px) {
    .statistics__container p.source {
        margin-top: 200px;
    }
    .statistics__container h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 300px) {
    .statistics__container p.source {
        margin-top: 240px;
    }
}