.summary {
    background: linear-gradient(to bottom, var(--background-start), var(--background-end));
    position: relative;
    padding: 2rem 0;
    overflow: hidden;
}

.summary h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.summary__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.summary__card {
    width: calc(50% - 1rem);
    padding: 2rem;
    border-radius: 20px;
    background: var(--blue-gradient);
    box-shadow: 0 4px 8px rgba(0, 48, 73, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.summary__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 48, 73, 0.2);
}

.summary__card img {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
}

.summary__card p {
    font-size: 1rem;
    color: var(--gray-light);
    line-height: 1.6;
}

/* Responsive styles */

@media only screen and (max-width: 768px) {
    .summary__card {
        width: 100%;
    }

    .summary h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .summary__card {
        padding: 1.5rem;
    }
    
    .summary__card img {
        width: 40px;
        height: 40px;
    }

    .summary__card p {
        font-size: 0.9rem;
    }
}
